/* nome: Hoken */

.row{    margin-left: 0px;
  margin-right: 0px;}
/* Buttom */


.btn-White, .btn-link{ color: white;}

.btn-White, .btn-link:hover{ color: #dedede;}
.btn-White, .btn-link:active{ color: #a3ebff;}

.btn-search{color: #fff; background-color: #55bbd2; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;}
input, .btn-search:focus{color: #fff; background-color: #55bbd2; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;}

.btn-icon{ color: #fff; background-color: #55bbd2 ; border-top: 0px; border-left: 0px; border-right: 0px; border-color: #fff ; }
.btn-icon:hover{ color: #fff; background-color: #55bbd2 ; border-top: 0px; border-left: 0px; border-right: 0px;   border-bottom-color: 2px #fff ; }
.alert-info{  background-color: #55bbd2;}
.btn-success{ background-color: #00a99d;}
.white{ color:#fff}
.btn-megamenu{ height: 100px;}
.btn-megamenu:hover{background: #043353; }

/* Colors */

.bg_Navyblue{ background: #15517a;}
.bg_Navyblue_2{ background: #0d2e46;}

.bg_Blue_1{ background: #005085;}
.bg_Blue_2{ background: #004675;}

.footer{ background: #041724 ; color: #909090;  } 
.footer, a{ color: #909090; } 
.footer, a:hover{ color: white; } 


/* session */
.footer_read {
  background: #0f293a;}
.hr_footer{ 
border: 1px dotted #909090;
}

.footer_title{
   color: #909090;
   height: 60px;
   font-weight: 900;
   font-size: 24px;
}

.footer_content{

  color: #909090;
}


/* PulseButtom */

.pulse_container{
  z-index: 7777;
}

.pulse-button {
  z-index: 7779;
  font-size: 50px;
  color: #fff;
  padding-top: 12px;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 #00a99d;
  border-radius: 50%;
  background-color: #00a99d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{ 
  color: #0d615b;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

#hadset_menu{
  width: 170px;
  color:#07867e;
  Background:#fff;
  box-shadow:  5px 5px 3px 3px #35353518;
  border-radius: 10px 10px 0px 10px;
  position: fixed;  
  right: 35px;
  bottom: 150px;
  z-index: 8888;
}

.traigulo{
  position: fixed;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  right: 35px;
  bottom: 125px;
  z-index: 8888;

}


#hadset_menu > ul > li:first-of-type > a:hover {
  background:#07867e;
  border-radius: 10px 10px 0px 0px;
  color:#fff;
  }
 #hadset_menu > ul > li:last-of-type > a:hover {
  background:#07867e;
  border-radius: 0px 0px 0px 10px;
  color:#fff;
} 

#hadset_menu > ul > li > a:hover {
  background:#07867e;
  color:#fff;
  }

  /* Mobile Menu */

  #menu_moblie > button > i{
    font-size: 50px;
    color: #fff;
  }

  .menu_bg{
      height: 100%;
      background: #0071BC;
  }
  
  #menu_sider{

    z-index: 99999;
    display: none;

  }

  .btn-search-moblie{
   color: #fff; background-color: #0071BC; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;
  }
  .btn-search-moblie:focus{
    color: #fff; background-color: #0071BC; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;
   }

  .btn-icon-moblie {
    color: #fff; background-color: #0071BC; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;
   }

   .btn-icon-moblie:hover {
    color: #fff; background-color: #63a7e7; border-top: 0px; border-left: 0px; border-right: 0px; border-Bottom-color: 1px solid #fff ;
   }
  
  .moblile-Menu > ul > li > a{

    color:#fff;

  }
  .moblile-Menu > ul > li > a:hover{

    background:#07867e;
    color:#fff;

  }

  .megamenu_moblie > .col-3:hover{background: #043353; }
 
  .slider_responive{
  
    min-width:1080px; min-height:410px; width:100%; max-height:auto;
 
  }
  /* Home */

  #ribbon-blue-top{
    background:url('../imagens/Background.svg');
    background-size: cover;
    height: 200px;
    margin-bottom:-60px;
    background-repeat: no-repeat;

  }

  #section-ribbon-blue{

    background-color: #4FBBFF;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 60px ;
    
  }

  #section-ribbon-blue > .container{

    background:url('../imagens/Background-Withe.svg');
    background-repeat: no-repeat;

   
  }

 
 .carrossel-item{

  margin: 15px;
  padding: 10px;
    
  }

  .blue_dark{
    background: #0F293A;
  }


#franquia{

  color:#00A99D;
  background: #fff;
  font-size: 24px;
  line-height: 28px;

}

#franquia h1{
  padding: 25px 0px;
}

#franquia p{
  padding: 0px 0px 25px  0px;
}

#posts .box{
  border: 10px solid #0F293A;
  padding: 0px 0px;
  background:  #206F96 ;
  color: #fff;
}

#posts  .box  h1 p{
  color: #fff;
}

#posts  .box  h1 {
  color: #fff;
}

#franquia > .box > h1 p{
  color: #00A99D;
}

#franquia div a{
  padding: 20px 0px;
  border: 2px #00A99D solid;
  color: #00A99D;
}
#destaque{

 padding: 10px;

}
.destaque-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.float_caption{
  
  background-color: #0000009a;
  height: auto;
    position: relative;
  padding: 10px;
}

.float_caption h1{
  color: #fff;
 
}

#franquia div a:hover{
  padding: 20px 0px;
  border: 2px #00A99D solid;
  color: #fff;
  background: #00A99D;
}

#call-to-action-franquia div a{
  border: 2px #fff solid;
}

#call-to-action-franquia div a:hover{
  border: 2px #fff solid;
  color: #00A99D;
  background: #fff;
}
  
#call-to-action-franquia{
  color:#fff;
  background: #00A99D;
  
}
 
#call-to-action-franquia p{
  color:#fff;
  background: #00A99D;
  
}
.img-cover{

  width: 100%;
  height: 100%;
  object-position: -30px;
  object-fit: cover;

}
.img-cover-full{
  
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Empresa */

#box-emprensa{
   
  margin-left: -120px;
  border: 2px #fff dashed;
  position: relative;
  top: 35px;

}

.box_background{
  margin: 10px;
  background:#fff;

}

/* Blog */

#sidebar_left ul{

  border: 2px  dashed #ccc;
  border-radius: 10px ;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #eee; 

}

#sidebar_left ul li {
  list-style: none;

}

#sidebar_left ul li{
  text-align: center;
  border-radius: 10px 2px dashed #aaa;
  
  padding-top: 10px;

}
#sidebar_left ul li {
  border-bottom: 1px dashed #aaa;
  padding: 10px 0px;

}
#sidebar_left ul li:hover{
  text-align: center;
  border-radius: 0px ;
  background:#fff;
  padding: 10px 0px;
  box-shadow: 5px 5px 5px 5px #eee; 

}

#sidebar_left ul a {
  color: #0c4945 ;
}



.title{
  text-align: center;
  border-radius: 10px;
  padding: 5px ;
  background:#00a99d;
  color: #fff ;
  margin: -2px;
}


.box{
  border-radius: 20px;
  border: 10px solid #fff;
  padding: 0px 0px;
  background:  #0f2c3a ;
  color: #fff;
}

.box:hover{
  background:  #1c516b ;
}

/* Produto Lista */

.title_divider{
  font-size:26px; color: #17726c;
}

.dot_divider{
  border: 2px #00A99D dashed;
}

.solid_divider{
  border: 1px #00A99D solid;
}

#header_produto{

  background: #00A99D;
 

}
.caracteristica{
  background: rgb(255, 255, 255);
  border-radius: 15px;
  /* width: 100px;
  height: 100px; */
  box-shadow: #eeeeee 3px 3px 3px 3px;
  color: #17a2b8;
}

.caracteristica object{

  width: 60px;
  height: 60px;

}


.caracteristica{
  padding: 33px;
}


#processo_produto{
  background:#17a2b8;
}


#caracteristicas_produto{
  background:#55BBD2;
}


.cor{
  background: rgb(255, 255, 255);
  border-radius: 15px;
  /* width: 100px;
  height: 100px; */
  box-shadow: #eeeeee 3px 3px 3px 3px;
  color: #17a2b8;
}

@media only screen and (max-width: 990px) {
  
#box-emprensa{
   
  /* background: #fff; */
  margin-left: 0px;
  

}

.box_background{
  margin: 0px;
  background:#fff;

}


}